/* Font; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Font family */
  --font-notoSans: 'Noto Sans', sans-serif;

  /* Dark mode */
  --color-primary-dark-600: oklch(0.465 0.0265 271.98);
  --color-primary-dark-700: oklch(0.3364 0.0386 270.01);
  --color-primary-dark-800: hsl(226, 25%, 17%);
  --color-primary-dark-900: oklch(0.2152 0.0818 267.2);

  /* Light mode */
  --color-primary-light-100: oklch(0.9927 0.0026 228.78);
  --color-primary-light-200: oklch(0.9466 0 0);
  --color-primary-light-300: oklch(0.9092 0.0292 259.94);
  --color-primary-light-400: oklch(0.8294 0 0);

  /* Red */
  --color-red-400: oklch(0.6701 0.1862 26.35);
  --color-red-500: oklch(0.6119 0.1893 27.23);
  --color-red-700: oklch(0.5346 0.1993 29.02);

  /* Gradients */
  /* gradient-light ---> 180deg, #ebf2fc 0%, #eef8f9 100% */
  /* gradient-dark ---> 180deg, #040918 0%, #091540 100% */
}

@layer base {
  body {
    font-family: var(--font-notoSans);
  }
}

@layer components {
  .tabs {
    @apply border-primary-light-300 bg-primary-light-100 dark:bg-primary-dark-700 dark:text-primary-light-300 dark:hover:ring-primary-light-200 dark:focus:outline-primary-light-200 dark:hover:bg-primary-dark-600 cursor-pointer rounded-full px-4 py-1 text-lg font-normal shadow-sm transition-all duration-150 hover:shadow-[1px_1px_3px_rgba(0,0,0,.50)];
  }

  .active-tab {
    @apply text-primary-light-100 dark:text-primary-dark-900 bg-red-700 font-medium ring-1 ring-red-700 ring-offset-2 dark:bg-red-500 dark:ring-0 dark:ring-transparent dark:ring-offset-0 dark:hover:bg-red-500;
  }
}
